.home-page {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #f8f8f9;
    overflow: hidden;
}

.home-page-content {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 20px 140px 40px 82px;
    overflow-y: auto;
}

.home-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-height: 100%;
}

.home-files-minor,
.home-files-major {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 32px;
    /* Já existente */
    align-items: stretch; /* Adiciona para esticar os filhos verticalmente */
}

.home-files-major {
    padding-bottom: 30px;
}

.home-files-minor > *,
.home-files-major > * {
    /* Aplica a todos os filhos diretos */
    flex-grow: 1;
    flex-shrink: 1;
    width: 0;
}
