.modal-text-padding {
    padding: 0px 120px 32px 140px;
}

.modal-input-radio {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 20px;
    background-color: #f0f0f5;
    border-radius: 10px;
}

.dropdown-menu-custom {
    position: absolute;
    top: 40px;
    right: -55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.2);
    z-index: 1050;
}

.dropdown-menu-custom.hidden {
    display: none;
}

.modal-arrow {
    position: absolute;
    top: -8px;
    right: 60px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #ffffff;
}
